.Btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
    fill: rgb(214, 178, 255);
}

.icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
    position: absolute;
    right: -105px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

    .tooltip::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: rgb(12, 12, 12);
        background-size: 1000%;
        background-position: center;
        transform: rotate(45deg);
        left: -5%;
        transition-duration: .3s;
    }

.Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
}

.Btn:hover {
    background-color: rgb(150, 94, 255);
    transition-duration: .3s;
}

    .Btn:hover .icon2 {
        border-bottom: 2px solid rgb(235, 235, 235);
        border-left: 2px solid rgb(235, 235, 235);
        border-right: 2px solid rgb(235, 235, 235);
    }

    .Btn:hover .svgIcon {
        fill: rgb(255, 255, 255);
        animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

@keyframes slide-in-top {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

div {
    text-align: center;
}

p {
    color: white;
    font-size: large;
    width: 60vw;
    align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    field-sizing: content;
}



body {
    background: #161717;
}

#div_question {
    display: inline-flex;
    align-items: center;
    width: 50vw;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

#inputText {
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* From Uiverse.io by Maximinodotpy */
.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}

    .inputGroup input {
        font-size: 100%;
        padding: 0.8em;
        outline: none;
        border: 2px solid rgb(200, 200, 200);
        background-color: transparent;
        border-radius: 20px;
        width: 100%;
    }

    .inputGroup label {
        font-size: 100%;
        position: absolute;
        left: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0.8em;
        margin-left: 0.5em;
        pointer-events: none;
        transition: all 0.3s ease;
        color: rgb(100, 100, 100);
    }

    .inputGroup :is(input:focus, input:valid) ~ label {
        transform: translateY(-50%) scale(.9);
        margin: 0em;
        margin-left: 1.3em;
        padding: 0.4em;
        background-color: #e8e8e8;
    }

    .inputGroup :is(input:focus, input:valid) {
        border-color: rgb(150, 150, 200);
    }


/* Premier inpute pour matiére*/



/* From Uiverse.io by AbanoubMagdy1 */
.wave-group {
    position: relative;
    align-self: center;
    align-content: center;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
}

    .wave-group .input {
        font-size: 13px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 185px;
        color: #e8e8e8;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;
    }

        .wave-group .input:focus {
            outline: none;
        }

    .wave-group .label {
        color: #999;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        display: flex;
    }

    .wave-group .label-char {
        transition: 0.2s ease all;
        transition-delay: calc(var(--index) * .05s);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .wave-group .input:focus ~ label .label-char,
    .wave-group .input:valid ~ label .label-char {
        transform: translateY(-20px);
        font-size: 14px;
        color: #5264AE;
    }

    .wave-group .bar {
        position: relative;
        display: block;
        width: 200px;
    }

        .wave-group .bar:before, .wave-group .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #5264AE;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        .wave-group .bar:before {
            left: 50%;
        }

        .wave-group .bar:after {
            right: 50%;
        }

    .wave-group .input:focus ~ .bar:before,
    .wave-group .input:focus ~ .bar:after {
        width: 50%;
    }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}




/* Style des bouttons d'ajouts */



input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #222245;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #222245;
}

    input[type=file]:focus {
        outline: 2px dashed #222245;
        outline-offset: 2px;
    }

    input[type=file]::file-selector-button {
        margin-right: 8px;
        border: none;
        background: #222245;
        padding: 8px 12px;
        color: #fff;
        cursor: pointer;
    }


@media (prefers-color-scheme: dark) {


    input[type=file] {
        color: #fff;
        border: 1px solid #35356e;
        background-color: #1e1e3f;
    }

        input[type=file]:focus {
            outline: 2px dashed #7c7cc0;
            outline-offset: 2px;
        }

        input[type=file]::file-selector-button {
            background: #35356e;
            color: #fff;
        }
}



/* From Uiverse.io by Praashoo7 */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
}

    .form:hover {
        transform: scale(1.05);
        border: 1px solid black;
    }

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 0.5em;
    border-radius: 25px;
    max-width: 20cm;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}


.information {
    display: inline-block;
    align-items: self-start;
}

#Title {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}


#Rectangle {
    background-color: #fff;
    height: 1px;
    width: 80vw;
    color: #fff;
    margin-bottom: 30px;
}


.button_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}





.animated-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    .animated-button:hover {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .animated-button:active {
        transform: translateY(-1px);
    }



#btnclear:hover {
    background-color: red;
    box-shadow: 0px 15px 20px #B00020;
}

/* From Uiverse.io by alexruix */
.input-group {
    position: relative;
}

.input_nq {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    field-sizing: content;
    resize: none;
    width: 45vw;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input_nq:focus, .input_nq:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

    .input_nq:focus ~ label, .input_nq:valid ~ label {
        transform: translateY(-50%) scale(0.8);
        background-color: #212121;
        padding: 0 .2em;
        color: #2196f3;
    }


.Show_data {
    display: inline-flex;
}

.img {
    display: flex;
    height: 0px;
    width: 0px;
}


.autocomplete {
    /*the container must be positioned relative:*/
    position: Center;
    display: flex;
    /* width: 18vw; */
    /* margin-left: 115px; */
}

.autocomplete-items {
    position: relative;
    width: 199px;
    border: 1px solid #242424;
    border-bottom: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    border-top: none;
    text-align: center;
    align-self: center;
    align-content: center;
    color: white;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #242424;
        border-bottom: 1px solid #242424;
    }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #242424;
        }

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: mediumslateblue !important;
    color: #ffffff;
}
